# Node.js
node_modules/
npm-debug.log
yarn-error.log
pnpm-debug.log

# Logs
logs
*.log
*.log.*
*.out
*.pid
*.seed
*.pid.lock

# Ambiente
.env
.env.*.local

# Sistema/Editor
.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp

# Build / cache
dist/
build/
.cache/
.temp/